.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.square {
  display: inline-block;
  border: 1px solid black;
  width: 60px;
  height: 60px;
  font-size: 16px;
  overflow: hidden;
}

.square:nth-of-type(3), .square:nth-of-type(6) {
  border-right-width: 3px;
}

.row:nth-of-type(3) .square, .row:nth-of-type(6) .square {
  border-bottom-width: 3px;
}

.square.selected {
  background: lightblue !important;
}

.square.filled {
  font-size: 32px;
  text-align: center;
}

.square.deterministic {
  background: lightgreen;
}

.row {
  font-size: 0;
}
